### Exercise  1
Given a data set Melbourne Housing Dataset. This dataset contains 21 columns. The details of the specific variables is as follows:

<b>Rooms:</b> no. of rooms<br>
<b>Price:</b> Price in dollars<br>
<b>Method:</b> S - property sold; SP - property sold prior; PI - property passed in; PN - sold prior not disclosed; SN - sold not disclosed; NB - no bid; VB - vendor bid; W - withdrawn prior to auction; SA - sold after auction; SS - sold after auction price not disclosed. N/A - price or highest bid not available.
<b>Type:</b> br - bedroom(s); h - house,cottage,villa, semi,terrace; u - unit, duplex; t - townhouse; dev site - development site; o res - other residential.<br>
<b>SellerG:</b> Real Estate Agent<br>
<b>Date:</b> Date sold<br>
<b>Distance:</b> Distance from CBD<br>
<b>Regionname:</b> General Region (West, North West, North, North east …etc)<br>
<b>Propertycount:</b> Number of properties that exist in the suburb.<br>
<b>Bedroom2 :</b> Scraped # of Bedrooms (from different source)<br>
<b>Bathroom:</b> Number of Bathrooms<br>
<b>Car:</b> Number of carspots<br>
<b>Landsize:</b> Land Size<br>
<b>BuildingArea:</b> Building Size<br>
<b>CouncilArea:</b> Governing council for the area<br>

detail: https://www.kaggle.com/dansbecker/melbourne-housing-snapshot/home?select=melb_data.csv

1. Read the dataset using the `read_csv` function in pandas

In [1]:
import pandas as pd
data = pd.read_csv('melb_data.csv')
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

2. Using the knowledge you learnt in chapter 5, check each column if there is any column with missing values

In [60]:
columnMissingDF = []

for column in data:
    x = data[data[column].isnull()]
    if( len(x) > 0 ):
        columnMissingDF.append({
            'column':column,
            'missing count':len(x)
        })

display(pd.DataFrame.from_dict(columnMissingDF))

         column  missing count
0           Car             62
1  BuildingArea           6450
2     YearBuilt           5375
3   CouncilArea           1369

3. Remove the data entry (rows) that have at least one missing data.

In [61]:
cleansed = data.dropna()

display(cleansed)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.00,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.00,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.00,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.00,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.00,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,Whittlesea,30 Sherwin St,3,h,601000.0,S,Ray,29/07/2017,35.5,3757.0,...,2.0,1.0,972.0,149.00,1996.0,Whittlesea,-37.51232,145.13282,Northern Victoria,2170.0
12206,Williamstown,75 Cecil St,3,h,1050000.0,VB,Williams,29/07/2017,6.8,3016.0,...,1.0,0.0,179.0,115.00,1890.0,Hobsons Bay,-37.86558,144.90474,Western Metropolitan,6380.0
12207,Williamstown,2/29 Dover Rd,1,u,385000.0,SP,Williams,29/07/2017,6.8,3016.0,...,1.0,1.0,0.0,35.64,1967.0,Hobsons Bay,-37.85588,144.89936,Western Metropolitan,6380.0
12209,Windsor,201/152 Peel St,2,u,560000.0,PI,hockingstuart,29/07/2017,4.6,3181.0,...,1.0,1.0,0.0,61.60,2012.0,Stonnington,-37.85581,144.99025,Southern Metropolitan,4380.0
12212,Yarraville,54 Pentland Pde,6,h,2450000.0,VB,Village,29/07/2017,6.3,3013.0,...,3.0,2.0,1087.0,388.50,1920.0,Maribyrnong,-37.81038,144.89389,Western Metropolitan,6543.0

4. Create a new data frame using multiindex formed using 'Regionname' and 'Type' column

In [77]:
df1 = data
df1 = df1.set_index(["Regionname","Type"])
display(df1)

                                        Suburb           Address  Rooms  \
Regionname                 Type
Northern Metropolitan      h        Abbotsford      85 Turner St      2
                           h        Abbotsford   25 Bloomburg St      2
                           h        Abbotsford      5 Charles St      3
                           h        Abbotsford  40 Federation La      3
                           h        Abbotsford       55a Park St      4
...                                        ...               ...    ...
South-Eastern Metropolitan h     Wheelers Hill      12 Strada Cr      4
Western Metropolitan       h      Williamstown     77 Merrett Dr      3
                           h      Williamstown       83 Power St      3
                           h      Williamstown      96 Verdon St      4
                           h        Yarraville        6 Agnes St      4

                                     Price Method   SellerG        Date  \
Regionname                 Type
Northern Metropolitan      h     1480000.0      S    Biggin   3/12/2016
                           h     1035000.0      S    Biggin   4/02/2016
                           h     1465000.0     SP    Biggin   4/03/2017
                           h      850000.0     PI    Biggin   4/03/2017
                           h     1600000.0     VB    Nelson   4/06/2016
...                                    ...    ...       ...         ...
South-Eastern Metropolitan h     1245000.0      S     Barry  26/08/2017
Western Metropolitan       h     1031000.0     SP  Williams  26/08/2017
                           h     1170000.0      S     Raine  26/08/2017
                           h     2500000.0     PI   Sweeney  26/08/2017
                           h     1285000.0     SP   Village  26/08/2017

                                 Distance  Postcode  Bedroom2  Bathroom  Car  \
Regionname                 Type
Northern Metropolitan      h          2.5    3067.0       2.0       1.0  1.0
                           h          2.5    3067.0       2.0       1.0  0.0
                           h          2.5    3067.0       3.0       2.0  0.0
                           h          2.5    3067.0       3.0       2.0  1.0
                           h          2.5    3067.0       3.0       1.0  2.0
...                                   ...       ...       ...       ...  ...
South-Eastern Metropolitan h         16.7    3150.0       4.0       2.0  2.0
Western Metropolitan       h          6.8    3016.0       3.0       2.0  2.0
                           h          6.8    3016.0       3.0       2.0  4.0
                           h          6.8    3016.0       4.0       1.0  5.0
                           h          6.3    3013.0       4.0       1.0  1.0

                                 Landsize  BuildingArea  YearBuilt  \
Regionname                 Type
Northern Metropolitan      h        202.0           NaN        NaN
                           h        156.0          79.0     1900.0
                           h        134.0         150.0     1900.0
                           h         94.0           NaN        NaN
                           h        120.0         142.0     2014.0
...                                   ...           ...        ...
South-Eastern Metropolitan h        652.0           NaN     1981.0
Western Metropolitan       h        333.0         133.0     1995.0
                           h        436.0           NaN     1997.0
                           h        866.0         157.0     1920.0
                           h        362.0         112.0     1920.0

                                CouncilArea  Lattitude  Longtitude  \
Regionname                 Type
Northern Metropolitan      h          Yarra  -37.79960   144.99840
                           h          Yarra  -37.80790   144.99340
                           h          Yarra  -37.80930   144.99440
                           h          Yarra  -37.79690   144.99690
                           h          Yarra  -37.80720   144.99410
...                                     ...        ...         ...
South-Eastern Metropolitan h            NaN  -37.90562   145.16761
Western Metropolitan       h            NaN  -37.85927   144.87904
                           h            NaN  -37.85274   144.88738
                           h            NaN  -37.85908   144.89299
                           h            NaN  -37.81188   144.88449

                                 Propertycount
Regionname                 Type
Northern Metropolitan      h            4019.0
                           h            4019.0
                           h            4019.0
                           h            4019.0
                           h            4019.0
...                                        ...
South-Eastern Metropolitan h            7392.0
Western Metropolitan       h            6380.0
                           h            6380.0
                           h            6380.0
                           h            6543.0

[13580 rows x 19 columns]

5. Using the new data frame from 4. List the house price for the townhouses (type: t) in Western Metropolitan. <br>Then show the amount of townhouses and average price of the townhouses there.

In [90]:
left = df1.loc[['Western Metropolitan']]
right = df1.swaplevel('Regionname','Type').loc[['t']]
joined = pd.merge(left,right, how="inner")
display(joined)

,Suburb,Address,Rooms,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount
0,Airport West,154 Halsey Rd,3,840000.0,PI,Nelson,3/09/2016,13.5,3042.0,3.0,2.0,1.0,303.0,225.0,2016.0,Moonee Valley,-37.71800,144.87800,3464.0
1,Airport West,1/80 Hawker St,3,700000.0,S,Brad,4/03/2017,13.5,3042.0,3.0,2.0,2.0,239.0,134.0,2009.0,Moonee Valley,-37.72180,144.88370,3464.0
2,Airport West,2/252 Parer Rd,2,450000.0,S,Barry,7/05/2016,13.5,3042.0,2.0,1.0,1.0,110.0,90.0,2015.0,Moonee Valley,-37.72160,144.87100,3464.0
3,Airport West,2/40 Earl St,3,700000.0,PI,Brad,15/10/2016,13.5,3042.0,3.0,2.0,2.0,165.0,133.0,2009.0,Moonee Valley,-37.72700,144.88700,3464.0
4,Airport West,3/7 South Rd,3,540000.0,SP,Nelson,18/06/2016,13.5,3042.0,2.0,2.0,1.0,161.0,101.0,2010.0,Moonee Valley,-37.72310,144.88020,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Newport,88 Maddox Rd,4,940000.0,SP,Greg,3/09/2017,6.2,3015.0,4.0,2.0,2.0,510.0,196.0,2016.0,NaN,-37.84815,144.86866,5498.0
235,Essendon,3/157 Deakin St,3,770000.0,VB,Nelson,16/09/2017,7.5,3040.0,3.0,1.0,1.0,116.0,NaN,2001.0,NaN,-37.73899,144.89291,9264.0
236,Niddrie,59A Nolan St,3,1150000.0,SP,Barry,19/08/2017,10.4,3042.0,3.0,2.0,1.0,317.0,210.0,2012.0,NaN,-37.74103,144.88510,2291.0
237,Ascot Vale,13 Brisbane St,3,1130000.0,S,Nelson,23/09/2017,4.3,3032.0,3.0,2.0,1.0,231.0,NaN,NaN,NaN,-37.77373,144.93110,6567.0
238,Gowanbrae,24 Duranta Dr,4,655000.0,S,Nelson,26/08/2017,12.9,3043.0,4.0,3.0,2.0,170.0,215.0,2017.0,NaN,-37.70128,144.90187,1071.0

### Exercise 2
Given two sets of data about restaurant visit in Japan:<br>
<b>air_store_info.csv</b> - store's information from AirREGI / Restaurant Board similar to Square.<br> 
<b>air_visit_data.csv</b> - the visit data information to each of the store (refer store ID), date and amount of visitors.<br>
<b>date_info.csv</b>      - the information of the date and holiday flag (if the day is holiday, flag = 1)<br>

The dataset is part of the datasets shared in: https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting/data

1. Read all the datasets separately using the `read_csv` function in pandas

In [94]:
store_info = pd.read_csv('air_store_info.csv')
visit_data = pd.read_csv('air_visit_data.csv')
date_info = pd.read_csv('date_info.csv')

2. Create a new data frame by merging the data from `air_visit_data.csv` to `air_store_info.csv` to get the corresponding information regarding the store.

In [109]:
df1 = pd.merge(store_info,visit_data, on=["air_store_id","air_store_id"])
display(df1)

,air_store_id,air_genre_name,air_area_name,latitude,longitude,visit_date,visitors
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-01,18
1,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-02,37
2,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-03,20
3,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-04,16
4,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-05,15
...,...,...,...,...,...,...,...
252103,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,2017-04-18,25
252104,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,2017-04-19,12
252105,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,2017-04-20,11
252106,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,2017-04-21,35
252107,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,2017-04-22,9

3. Using the resulting data frame from (2), merge with `date_info.csv` based on the key `date` into a new data frame that consists of the holiday flag information.

In [112]:
df2 = pd.merge(df1,date_info, left_on="visit_date", right_on="calendar_date")
display(df2)

,air_store_id,air_genre_name,air_area_name,latitude,longitude,visit_date,visitors,calendar_date,day_of_week,holiday_flg
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-01,18,2016-07-01,Friday,0
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-01,3,2016-07-01,Friday,0
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,2016-07-01,18,2016-07-01,Friday,0
3,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2016-07-01,10,2016-07-01,Friday,0
4,air_99c3eae84130c1cb,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,2016-07-01,64,2016-07-01,Friday,0
...,...,...,...,...,...,...,...,...,...,...
252103,air_c7d30ab0e07f31d5,Other,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,2016-04-11,16,2016-04-11,Monday,0
252104,air_8a906e5801eac81c,Other,Tōkyō-to Taitō-ku Higashiueno,35.712607,139.779996,2016-04-11,13,2016-04-11,Monday,0
252105,air_2cee51fa6fdf6c0d,Western food,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,2016-04-11,6,2016-04-11,Monday,0
252106,air_0728814bd98f7367,Western food,Tōkyō-to Suginami-ku Asagayaminami,35.699566,139.636438,2016-04-11,3,2016-04-11,Monday,0
252107,air_e9ebf7fc520ac76a,Western food,Tōkyō-to Itabashi-ku Itabashi,35.751165,139.709244,2016-04-11,27,2016-04-11,Monday,0

4. Check the new data frame from (3) if there is any missing values. If yes, remove the data entries (rows) with missing values

In [124]:
columnMissingDF = []
for column in df2:
    x = df2[df2[column].isnull()]
    columnMissingDF.append({
        'column':column,
        'missing count':len(x)
    })
       

display(pd.DataFrame.from_dict(columnMissingDF))

           column  missing count
0    air_store_id              0
1  air_genre_name              0
2   air_area_name              0
3        latitude              0
4       longitude              0
5      visit_date              0
6        visitors              0
7   calendar_date              0
8     day_of_week              0
9     holiday_flg              0